@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Ysabeau+SC:wght@1..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'GRAD' 0,
            'opsz' 36
}

* {
    font-family: 'Chakra Petch', sans-serif;
}

.header-font {
    font-family: 'Ysabeau SC', sans-serif !important;
}

html, body, #app{
    height: 100%;
}
#app {
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}