@import url('http://fonts.googleapis.com/css?family=Roboto');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Roboto', sans-serif;
}

html, body, #app{
    height: 100%;
}
#app {
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

body {
    background: linear-gradient(-45deg, #040404, #141530, #14140C, #210535);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}